/*creates spacing from top of page*/
.container {
	margin-top: 25px;
}

/*spaces out buttons and sets color*/
.btn {
	background-color: #32A0AE;
	margin-bottom: 10px;
	margin-right: 10px;
}

/*spaces out gifs*/
img {
	margin: 15px
}
